# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
*.pem

# Local env
.env
.env.local

# IDE
.vscode/
.idea/

# Docs archive
docs/archive/
